body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.logo {
  font-size: 20px;
}

.navbar {
  display: flex;
  gap: 25px;
  margin-right: 50px;
}

.nav-item {
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.img_burger {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.burger-container {
  position: relative;
  width: 75%;
}

.burger-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: brightness(85%);
  border-radius: 10px;
}

.burger-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: rgb(49, 49, 49);
  font-size: 28px;
}
